<%- include('../partials/header') %> 

<section>
    <div>Airline: </div>
    <div><%= flight.airline %> </div>
    <div>Airport: </div>
    <div><%= flight.airport %> </div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %> </div>
    <div>Departs: </div>
    <div><%= flight.departs %> </div>
    <div>Arrives: </div>
    <div> <%= flight.destination.airport %></div>
    <div>Arrival Date:</div>
    <div><%= flight.destination.arrival %> </div>
</section>

<%- include('../partials/footer') %> 