<%- include('../partials/header') %>

<section>
  <div>Airline:</div>
  <div><%= flight.airline %></div>
  <div>Airport:</div>
  <div><%= flight.airport %></div>
  <div>Flight Number:</div>
  <div><%= flight.flightNo %></div>
  <div>Departs:</div>
  <div><%= flight.departs %></div>
  <div>Ticket:</div>
  <ul>
    <%- tickets.map(t => `<li>${t.seat} <small>$ ${t.price}</small></li>`) %> 
  </ul>
</section>
<% if (flight.destinations.length > 0) { %> 
<br />
  <table>
    <thead>
      <tr>
        <th>Arrives at:</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(destination) { %>
      <tr>
        <td><%= destination.airport %></td>
        <td><%= destination.arrival %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
    <h5>No Destination</h5>
    <% } %> 
<br />
<br />
<form action="/flights/<%= flight._id %>/destinations" method="POST">
  <label>Arrival Airport:
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label>
  <br />
  <label>Arrival Date:
    <input type="date" name="arrival" />
  </label>
  <br />
  <input type="submit" value="Add Destination" />
</form>

<a href='/flights/<%= flight._id %>/tickets/new'>New Ticket</a>

<%- include('../partials/footer') %>
